/* CSS files add styling rules to your content */

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  margin: 2em auto;
  width: 590px;
}

h1 {

}

p {
  margin: 1em 0;
}

#map-wrapper, #mapid {
  width: 590px;
  height: 590px;
  position: relative;
}

#map {
  width: 590px;
  height: 590px;
  z-index: 50;
  position:absolute;
}

input {
  border: 1px solid #666;
  padding: .5em;
  margin-right: 1em;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

#pointer {
  top: 150px;
  left: 150px;
  background: url("./pointer.svg");
  background-size: 100%;
  width: 32px;
  height: 44px;
}

#pointer, #location-output, #time-output, #search {
  position: absolute;
  z-index: 99;
}

#location-output, #time-output {
  background: #000;
  font-size: 40px;
  color: #FFF;
  padding: 5px 10px;
}

#location-output {
  bottom: 20px;
  right: 20px;
}

#time-output {
  bottom: 100px;
  right: 20px;
}

#download {
  background: #666;
  color: #FFF;
  padding: .5em;
  font-weight: bold;
}

#search {
  top: 10px;
  left: 50px;
  right: 50px;
  width: 200px;
}

.autocomplete {
  background: white;
  z-index: 1000;
  font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
  font: inherit;
}

.autocomplete > div {
  padding: 0 4px;
}

.autocomplete .group {
  background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
  background: #81ca91;
  cursor: pointer;
}
